# Ignorar pastas do Visual Studio
.vs/

# Ignorar arquivos de build e compilação
bin/
obj/

# Ignorar arquivos temporários de configuração do usuário
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar pastas de dependências de Node.js (caso haja)
node_modules/

# Ignorar arquivos de log temporários
*.log

# Ignorar arquivos gerados pelo .NET
# Ignorar pacotes de dependências gerados
project.lock.json
project.fragment.lock.json

# Ignorar arquivos do MAUI
maui/*

# Ignorar arquivos de cache do MAUI
*.cache
*.csproj.user
